
<!--<button (click)="getHome()">Casas</button>
<button (click)="getStudents()">Estudiantes</button>
<button (click)="getStaff()">Profesores</button>
<button (click)="getAspirante()">Aspirante</button> 
<button (click)="getAllAspirantes()">TodosAspirante</button> 
<button (click)="createAspirante()">CrearAspirante</button> 
<button (click)="updateAspirante()">CambiarAspirante</button> -->
<button (click)="deleteAspirante()">BorrarAspirante</button> 


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">Home</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/nuevo">Aspirante</a>
        </li>
        </ul>
    </div>
  </nav>

<router-outlet></router-outlet>